@model TaskAgendaWithEntity.Models.TaskModel

@{
  ViewData["Title"]="Task Details";
}

<h1 style="color:rgb(233, 189, 86) ;">Showing details about @Html.DisplayFor(x=>x.Title)</h1>

<div>
  <dl class="row">
    <dt class="col-sm-2">
      @Html.DisplayNameFor(x=>x.Title)
    </dt>
    <dt class="col-sm-10">
      @Html.DisplayFor(x=>x.Title)
    </dt>
     <dt class="col-sm-2">
      @Html.DisplayNameFor(x=>x.Description)
    </dt>
    <dt class="col-sm-10">
      @Html.DisplayFor(x=>x.Description)
    </dt>
     <dt class="col-sm-2">
      @Html.DisplayNameFor(x=>x.Date)
    </dt>
    <dt class="col-sm-10">
      @Html.DisplayFor(x=>x.Date)
    </dt>
     <dt class="col-sm-2">
      @Html.DisplayNameFor(x=>x.Status)
    </dt>
    <dt class="col-sm-10">
      @Html.DisplayFor(x=>x.Status)
    </dt>
  </dl>
</div>
<a asp-action="Edit" asp-route-id="@Model.Id"> Edit</a>
<a asp-action="Index">Back</a>